/*Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */


/* CSS FOR RESIDENT DASHBOARD AND MEDIA FOR RESPONSIVENESS */
/*Used Colors-black,green*/

body {
    font-family: "Lato", sans-serif;
      }
        
      .grid-container-resident {
        display: flex;
        gap: 12px;
        grid-template-columns: repeat(auto-fit,minmax(100px,90fr));
        padding: 7vh 12px 10px 1vw;
        width: 80vw;
      }
    .grid-container-resident > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-size: 1.0vw;

      
    }
   