/* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */

/* GARDEN TIMINGS CSS and Media queires for responsiveness */
/*Used Colors-white*/

body {
    font-family: "Lato", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  #myTable {
    border-collapse: collapse;
    max-height: 40vh;
    width: 70vw;
    border: 1px solid #ddd;
    font-size: 1vw;
    white-space: wrap;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 0.5vw;

  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  /*Used background color :white( #f1f1f1);*/
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
      .grid-container{
        display:grid;
        gap:30px;
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
        left:-5vw;
        padding:5vh;
        position:absolute;

      }
      /*Used background color :white(rgba(255, 255, 255, 0.8);*/
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 1.2vw;
        
      }
      .garden{
left:16vw;
top:5vw;
height: 35vw;
position:absolute;
}
      @media screen and (max-width: 980px) {
.garden{
left:22vw;
top:20vw;
height: 10vw;
position:absolute;}

}
/*Used background color :white( #ddd);*/
@media screen and (max-width: 980px) {
#myTable{
border-collapse: collapse;
  max-height: 30vh;
  width: 50vw;
  border: 1px solid #ddd;
  font-size: 1.4vw;
  white-space: wrap;} }
