/* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */

/* UPDATE VISITOR CSS and Media queires for responsiveness */

body {
    font-family: "Lato", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  #myTable {
    border-collapse: collapse;
    max-height: 40vh;
    width: 70vw;
    border: 1px solid #ddd;
    font-size: 1vw;
    white-space: wrap;
  }
  /*Used color :white;*/ 
  @media screen and (max-width: 980px) {
    #myTable{
      border-collapse: collapse;
  max-height: 40vh;
  width: 65vw;
  border: 1px solid #ddd;
  font-size: 1.6vw;
  white-space: wrap;
    }
    
  }
  
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 0.5vw;

  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  /*Used color :white;*/ 
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  .update{
left:16vw;
top:5vw;
height: 35vw;
position:absolute;
}
@media screen and (max-width: 980px) {
.update{
left:22vw;
top:20vw;
height: 10vw;
position:absolute;}

}