/* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */

/* DELETE RESIDENT CSS and Media queires for responsiveness */


.Delete {
    margin-top: 20vh;
    margin-left: 40vw;
  }
  @media screen and (max-width: 980px) {
    .Delete{
      top: 20vh;
      left: 40vw;
    font: 30vw;      }

    
  }