 /* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */ 

/* Used colors-black,white*/

body {
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.containers {
  height: 50vh;
  width:50vw;
  position:relative;
  background-color: white;
  font-size: 1.2vh;
}

/* Full-width input fields */
.input[type=text], input[type=password] {
  width: 100%;
  padding: 1.5vh;
  margin: 0.1vw 0 0.4vh 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.grid-container{
  display:grid;
  gap:10px;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.5vh;
  height: 60vh;
  width: 50vw;
}
/* .main{
  left:15vw;
  top:10vh;
  height: 35vh;
  width: 70vw;
  position:absolute;
} */
@media screen and (max-width: 980px) {
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1vh;
  height: 50vh;
  width: 50vw;
}
}
ul {
  list-style: none;
}
.get_say_social-icn {
  display: flex;
  position:relative;
  float:left;
}
@media screen and (max-width: 980px){
.get_say_social-icn {
  display: flex;
  position: relative;
  float:left;
  top:1vh;
}
}
.get_say_social-icn a {
  font-size: 2vh;
  color: #000000;
  padding: 0 0 0 5vw;
}
form {
  display: block;
  height: 65vh;
  width: 45vw;
}
@media screen and (max-width: 980px){
  form {
    display: block;
    height: 55vh;
    width: 45vw;
  }
}
@media screen and (max-width:450px) {
  
  .form_input {
    width: 100% !important;
    margin: 0.8vh 0 !important;
  }
  .form_input {
    width: 98% !important;
  }

  .dropdown { 
    position: relative; 
    display: inline-block; 
  } 
   
  .dropbtn { 
    background-color: #4CAF50; 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
  } 
   
  .dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 70vw; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
  } 
   
  .dropdown-content a { 
    color: black; 
    padding: 8px 16px; 
    text-decoration: none; 
    display: block; 
    font-size:1.5vw;
  } 
   
  .dropdown:hover .dropdown-content { 
    display: block; 
  } 
}
