 /* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */ 

/* Header -Footer-Sidebar CSS and Media queires for responsiveness */
/* Used colors- black , white,blue,gereen*/


body {
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
}
/* CSS AND MEDIA QUERIES FOR HEADER */
.header {
  width: 100%;
  background-color: #1b3a22;
  position:absolute;
  top:0px;
  left : 0px;
  height:8vh;
  list-style-type:  none; 
  }
.navbar_top_align {
float: right;
}
.navbar_left_align{
float: left;

}
.navbar_left_align a {

display: block;
color: white;
text-align: center;
font-size: 1.5vw;
padding: 20px 16px;
text-decoration: none;
}

.navbar_top_align a {
display: block;
color: white;
text-align: center;
display: block;
font-size: 1.2vw;
padding: 20px 16px;
text-decoration: none;
}
.navbar_top_align a:hover {
background-color: #1b3a22;
}
@media screen and (max-width: 980px) {
.header{
  width: 100%;
  background-color: #1b3a22;
  position:absolute;
  top:0px;
  left : 0px;
  height:8vh;
  list-style-type:  none; 
}


}
@media screen and (max-width: 980px) {
.header  {
  display: block;
  color: rgb(17, 175, 177);
  text-align: center;
  font-size: 2vw;
  text-decoration: none;
  width:100%
} }
@media screen and (max-width: 980px) {
.navbar_top_align {
  margin-top: 20px;
}

}
@media screen and (max-width: 980px) {
.navbar_left_align {
  margin-top: 20px;
}

}
@media screen and (max-width: 900px) {
.navbar_top_align a{
  padding: 0px 16px;
  font-size: 2.2vw;
}
}
@media screen and (max-width: 900px) {
.navbar_left_align a{
  padding: 0px 16px;
  font-size: 2.0vw;
}
}

/* CSS AND MEDIA QUERIES FOR SIDEBAR */

.sidebar{
padding: 0;
margin: 0;
width: 12vw;
height: 72vh;
top:8vh;
background-color: #f1f1f1;
position: absolute;
overflow: auto;
left: 0;
right: 0;
padding-top: 0px;

}


.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
font-size:1.2vw;
}

.sidebar a.active {
display: block;
color: black;
padding: 16px;
text-decoration: none;

}
.sidebar a.proflog {
background-color: #04AA6D;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

@media screen and (max-width: 980px) {
.sidebar {
  left:0px;
  width:20vw;
  height:74vh;
  font-size: 1.8vw;
  position: absolute;
}
}

@media screen and (max-width: 400px) {
.sidebar a {
  text-align: center;
  float: none;
  font-size: 1.8vw;
}
}
/* CSS AND MEDIA QUERY FOR CONTENT OF THE PAGE THAT FITS ACCORDING TO SIDE,MAIN AND FOOTER  */

.mains{
left:16vw;
top:5vw;
height: 35vw;
position:absolute;
}
@media screen and (max-width: 980px) {
.mains{
left:20vw;
top:2vw;
height: 10vw;
position:absolute;}

}


/* CSS AND MEDIA QUERIES FOR FOOTER  */
.footer {
position: absolute;
left: 0;
top: 80vh;
background: #1b3a22;
width: 100%;
color: #fff;

}
.footer .col {
width: 8vw;
height: auto;
float: left;
left:0px;
box-sizing: content-box;
padding: 20px 0px 0px 100px;
}
  .footer .col h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2VW;
  line-height: 17px;
  padding: 0px 0;
  color: white;
  text-transform: uppercase;
  }
  .footer .col ul {
  list-style-type: none;
  padding: 0;
  }
  .footer .col ul li {
  color: white;
  font-size: 12px;
  padding: 5px 0px;
  }
  .address ul li {
  display: inline-block;
  padding-right: 5px !important;
  }

  .footer .col ul li:hover {
  cursor: pointer;
  color: lightgray;
  font-weight: bold;
  }
  .container {
    display:flex;
    flex-wrap:wrap; /* this */
    gap:10px;
  }
  .container > div {
    height:100px;
    flex:max(400px, 100%/4 + 0.1%); /* and this */
    background:red;
  }
@media screen and (max-width: 980px) {
.footer {
  position: absolute;
left: 0;
height : auto;
top: 80vh;
background: #1b3a22;
width: 100%;
color: #fff;
}
}
@media only screen and (max-width: 950px) {
.footer {
  right:0px;
  bottom: 0px;
  
}
}
@media only screen and (max-width: 950px) {
.footer .col {
padding: 10px 0px 0px 10px;
width: 18vw;
}
.footer .col h2 {
font-size: 1.8VW;
}
.footer .col ul li {
font-size: 1.8vw;
}
}


