 /* Team-5 Members
Goyani Shivani 1001995271
Usha Chandana Reddy Parne 1001964976 
Pranava Avuthu 1002037533
Hariharan Prakash 1001852001 
Ashwanthika Umashankar 1001854976 */ 

/*Managing Residents CSS and Media queires for responsiveness */
/* Used Colors- black,white */

.dropdown { 
    position: relative; 
    display: inline-block; 
  } 
   
  .dropbtn { 
    background-color: #1b3a22; 
    color: white; 
    padding: 1vw; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    position: relative;
    margin-top: 10px;
    /* margin-left: 650px; */
  } 
  @media screen and (max-width: 980px) {
    .dropbtn{
      background-color: #1b3a22; 
    color: white; 
    padding: 1vw; 
    font-size: 10px; 
    border: none; 
    cursor: pointer; 
    position: relative;
    margin-top: 10px;
    }
  }
   
  .dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: #f9f9f9; 
    min-width: 10vw; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    margin-top: 10px;
    margin-left: 42.5vw;
  } 
   @media screen and (max-width : 980px ) {
    .dropdown-content{
      display: none; 
    position: absolute; 
    background-color: #f1efef; 
    min-width: 10vw; 
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    margin-top: 10px;
    margin-left: 42.5vw;
    }
    
   }
  .dropdown-content a { 
    color: black; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    
  } 
   
  .dropdown-content a:hover {
background-color: #ddd;
}
  .dropcheck {
position: absolute;
left: -9999px;
}

.dropcheck:checked ~ .dropdown-content {
display: block;
}

.dropcheck:checked + .dropbtn {
background-color: #1b3a22;
}
    
.grid-container{
  display:grid;
  gap:30px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 15vh 0px 0px 0vw;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.2vw;
  
}

@media screen and (max-width: 980px) {
.grid-container > div{
margin-left: 30px;
text-align: center;
font-size: 2vw;}

}